# ignore data directories
data/
data_fix/
website/data/

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Cache files
.cache/
.cache.sqlite